@charset "utf-8";

/*
     
   Author:   jacob etheregde
   Date:     11/15/25
   
   Filename: JMJ_styles1.css
   
   This file contains the layout styles used to format the background, headers, and footers of all pages for jmj

*/

/* ===========
   Base Styles
   ===========
*/


/* HTML and Body Styles */

html {
   background: url(tf_back1.png) center center / cover no-repeat fixed;
   height: 100%;
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
}

body {
   background: rgb(134, 176, 232);   
   box-shadow: rgb(51, 51, 51) 5px 0px 15px,
               rgb(51, 51, 51) -5px 0px 15px;
   margin: 0px auto;
   min-height: 100%;
   min-width: 320px;
   max-width: 1024px;
   width: 100%;
}

/* Body Header Styles */

.header {
	background: rgb(15,75,166);
}
.mainmenu {
	background-color: rgb(15,75,166);
}
/*
body header {
   background: rgb(5,75,166);   
}

body header img {
   display: block;
   width: 100%;
}
*/

/* Horizonal Navigation Styles */



/*nav.horizontal {
   background-color: rgb(5,75,166);
   min-height: 2em;
}

nav.horizontal li {
   color: rgb(186,216,255);
   display: flex;
   align-items: center;
   line-height: 2em;
   text-transform: uppercase;
}

nav.horizontal a {
   display: block;
   font-size: 1em;
}

nav.horizontal a:visited, nav.horizontal a:link {
   color: rgb(31, 73, 125);
}

nav.horizontal a:hover, nav.horizontal a:active {
   background-color: rgb(31, 73, 125);
   color: white;
}
*/


/* Main Menu Styles */
/*
ul.mainmenu {
   display: block;
   color: rgb(186,216,255);
}

ul.mainmenu > li {
   text-indent: 15px;
   color: rgb(186,216,255);
}

ul.mainmenu > li:first-of-type a {
   color: white;
   background-color: rgb(31, 73, 125);
}

*/

/* Section Styles */
 
section{
   background-color: rgb(134, 176, 232);
   clear: both;
}

section::after {
   content: "";
   display: table;
   clear: both;
}

section img {
   display: block;
   width: 100%;
}

section p {
   line-height: 1.4em;
   padding: 10px;
   font-size: 1.2em;
}




/* Footer Styles */

body > footer {
   background-color: rgb(15,75,166);
   font-size: 0.9em;
   text-align: center;
   padding: 10px 0px;
}





/* New Styles Added Below */

/* Mobile Styles Added Below */
@media only screen and (max-width: 480px) {
	nav.horizontal a {
		font-size: 1.5em;
		line-height: 2.2em;
		
}
aside{
	display:none;
}
}
/* Tablet Styles: 481PX and Greater */
@media only screen and (min-width: 481px) {
	ul.mainmenu > li{
		float: left;
		width: 20%;
		position: relative;
	}
	ul.submenu{
		width: 200%;
		box-shadow: rgb(51,51,51) 5px 5px 15px;
		position: absolute;
	}
}

/* Desktop Styles: 769px and Greater */
@media only screen and (min-width: 769px) {
	ul.submenu{
		background: transparent;
		box-shadow: none;
		display: block;
		position: relative;
		width: 100%;
	}
	nav.horizontal::after{
		clear: both;
		content: "";
		display: table;
	}
	nav.horizontal a.submenuTitle {
		display: none;
	}
	article{
		float: left;
		margin-right: 5%;
		width: 55%;
	}
	aside{
		float: left;
		width: 40%;
	}
}

